*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
html{
    overflow-x: hidden;
    width:100%;
}
body{
    background-color: #202040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100vh;
    overflow: hidden;
}
#f{
    color:#FF6363;
    width: 400%;
    word-wrap: break-word;
    transform: rotate(-15deg) translateY(-600px) translateX(-300px);
    line-height: 14px;
    font-size: 0.8em;
    letter-spacing: 2px;
}